@font-face {
  font-family: "iconfont"; /* Project id 4535254 */
  src: url('//at.alicdn.com/t/c/font_4535254_sagwp3t7rkk.woff2?t=1715044123345') format('woff2'),
       url('//at.alicdn.com/t/c/font_4535254_sagwp3t7rkk.woff?t=1715044123345') format('woff'),
       url('//at.alicdn.com/t/c/font_4535254_sagwp3t7rkk.ttf?t=1715044123345') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chuku:before {
  content: "\e602";
}

.icon-ruku:before {
  content: "\e606";
}

.icon-caigoujihua:before {
  content: "\e607";
}

.icon-navicon-kcpd:before {
  content: "\e65e";
}

.icon-caigoujihua1:before {
  content: "\e6dc";
}

.icon-baoxiu:before {
  content: "\e8f7";
}

.icon-xiulixian:before {
  content: "\e8ac";
}

.icon-cangchuguanli-pandianguanli-pandianjishu:before {
  content: "\e60f";
}

.icon-jianyanzhe:before {
  content: "\e600";
}

.icon-chuku1:before {
  content: "\e67d";
}

.icon-youxiang:before {
  content: "\e628";
}

.icon-kucunguanli:before {
  content: "\e62d";
}

.icon-jiucanshitang:before {
  content: "\e625";
}

.icon-shicairuku2:before {
  content: "\e639";
}

.icon-cheliangguanli:before {
  content: "\ebc5";
}

.icon-cheliangguanli1:before {
  content: "\e62f";
}

.icon-caigoujihua2:before {
  content: "\e601";
}

.icon-caipinliuyang:before {
  content: "\e613";
}

.icon-ruku1:before {
  content: "\e619";
}

.icon-kucunguanli1:before {
  content: "\e66a";
}

.icon-caigoujihua3:before {
  content: "\e6d9";
}

.icon-cheliangguanli2:before {
  content: "\e608";
}
